display: 0 # Not supported yet
debug:
  log: true # Prints extra log information
  renderMap: false # Render current map data into 'cg.png' file

logFilePath: log.txt
maxGameLength: 500 # Max game length (in seconds), bot will try to quit game arrived that point
D2MapAPIServer: 'http://localhost:8899'

# In order to use to Discord Bot, you need the Application Token. https://discord.com/developers/docs/intro
discord:
  enabled: false
  channelId: ''
  token: ''

health: # Healing configuration, all values in %
  healingPotionAt: 75
  manaPotionAt: 10
  rejuvPotionAtLife: 50
  rejuvPotionAtMana: 0
  mercHealingPotionAt: 80
  mercRejuvPotionAt: 30
  chickenAt: 30
  mercChickenAt: 10

bindings:
  openInventory: i
  potion1: 1
  potion2: 2
  potion3: 3
  potion4: 4

  # Skills
  forceMove: h
  standStill: j
  swapWeapon: g
  teleport: q
  tp: t
  CTABattleCommand: s
  CTABattleOrders: d

  # Class specific bindings
  sorceress:
    blizzard: w
    staticField: e
    frozenArmor: a

  hammerdin:
    concentration: w
    holyShield: a
    vigor: e
    redemption: r
    cleansing: f

inventory:
  inventoryLock:
    - [ 1, 1, 1, 1, 1, 1, 1, 0, 0, 0 ] # 0: Item locked and won't be moved.
    - [ 1, 1, 1, 1, 1, 1, 1, 0, 0, 0 ] # 1: Item unlocked, it will be stashed, sold or dropped.
    - [ 1, 1, 1, 1, 1, 1, 1, 0, 0, 0 ]
    - [ 1, 1, 1, 1, 1, 1, 1, 0, 0, 0 ]

  beltColumns: # Amount of columns for each type of potion, sum of all should not be more than 4
    healing: 2
    mana: 1
    rejuvenation: 1
  beltRows: 4

character:
  class: sorceress # Allowed values: sorceress, hammerdin
  castingFrames: 8 # https://diablo2.diablowiki.net/Breakpoints#Faster_Cast_Rate
  useMerc: true
  useCTA: true

game:
  clearTPArea: true # Will clear the TP area before clicking it
  difficulty: hell  # Allowed values: normal, nightmare, hell
  randomizeRuns: true
  # Just add the runs you want to do and they will be executed respecting the order, unless randomizeRuns is set to true
  # Available runs: countess, andariel, ancient_tunnels, summoner, mephisto, council, eldritch, pindleskin, nihlathak, tristram
  runs: [ andariel, summoner, mephisto, pindleskin ]

  # Specific runs settings
  pindleskin:
    skipOnImmunities: [ ] # Allowed values: cold, fire, light, poison
  tristram:
    focusOnElitePacks: false # Will clear only Elite monsters
    clearPortal: true # Kills Rakanishu and makes easier selecting the portal
  nihlathak:
    clearArea: true