<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Control your Koolo instance">
    <meta http-equiv="refresh" content="30">
    <title>Koolo Controller</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
          integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
</head>
<body>
<div class="pure-menu pure-menu-horizontal pure-center">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/action?option=start" class="pure-menu-link">Start</a>
        </li>
        <li class="pure-menu-item">
            <a href="/action?option=stop" class="pure-menu-link">Stop (Save and Exit)</a>
        </li>
    </ul>
</div>
<table class="pure-table">
    <thead>
    <tr>
        <th>Run name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Chickens</th>
        <th>Errors</th>
        <th>Avg Time</th>
    </tr>
    </thead>
    <tbody>
    {{ range $key, $value := .RunStats }}
        <tr class="pure-table-odd">
            <td>{{ $key }}</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
        </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>