<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="../assets/css/pico.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <title>Koolo Dashboard</title>
</head>
<body>
<main class="container">
    <div class="notification">
        <p>Windows administrator permissions are required to run Koolo, please execute koolo.exe as administrator.</p>
    </div>
</main>
</body>
</html>