<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="../assets/css/pico.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <title>Koolo Settings</title>
</head>
<body>
<main class="container">
    {{ if ne .ErrorMessage "" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="error-message">
                    {{ .ErrorMessage }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <div class="notification">
        <p>Koolo detected that the game settings might be not correct, do you want to try to auto adjust?</p>
        <form method="post">
            <input type="hidden" name="auto_settings" value="false"/>
            <input type="submit" value="No, don't ask again"/>
        </form>
        <form method="post">
            <input type="hidden" name="auto_settings" value="true"/>
            <input type="submit" value="Yes"/>
        </form>
    </div>
</main>
</body>
</html>