<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="../assets/css/pico.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <title>Koolo Settings</title>
</head>
<body>
<main class="container">
    {{ if ne .ErrorMessage "" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="error-message">
                    {{ .ErrorMessage }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <div class="notification">
        <h2>Settings</h2>
        <form method="post">
            <fieldset>
                <label>
                    Diablo II Resurrected Path
                    <input
                            name="d2rpath"
                            placeholder="C:\Program Files (x86)\Diablo II Resurrected"
                            value="{{.D2RPath}}"
                    />
                </label>
                <label>
                    Diablo II: LoD 1.13c Path (MUST BE 1.13c, otherwise it won't work)
                    <input
                            name="d2lodpath"
                            placeholder="E:\games\Diablo II"
                            value="{{.D2LoDPath}}"
                    />
                </label>
                <label>
                    Centralized Pickit Path (leave blank if you don't want to use a single location for all pickit files)
                    <input
                            name="centralized_pickit_path"
                            placeholder="E:\games\mypickits"
                            value="{{.CentralizedPickitPath}}"
                    />
                </label>
                <label>
                    <input
                            {{ if .UseCustomSettings }}
                                checked="checked"
                            {{ end }}
                            type="checkbox"
                            name="use_custom_settings"
                            value="true"
                    />
                    Use custom game settings
                </label>
                <label>
                    <input
                            {{ if .GameWindowArrangement }}
                                checked="checked"
                            {{ end }}
                            type="checkbox"
                            name="game_window_arrangement"
                            value="true"
                    />
                    Auto reposition game windows
                </label>
                <h4>Debug</h4>
                <fieldset class="grid">
                    <label>
                        <input
                                {{ if .Debug.Log }}
                                    checked="checked"
                                {{ end }}
                                type="checkbox"
                                name="debug_log"
                                value="true"
                        />
                        Debug mode (better details in logs, more noise)
                    </label>
                    <label>
                        <input
                                {{ if .Debug.Screenshots }}
                                    checked="checked"
                                {{ end }}
                                type="checkbox"
                                name="debug_screenshots"
                                value="true"
                        />
                        Save screenshot on error
                    </label>
                </fieldset>
                <h4>Discord integration</h4>
                <label>
                    <input
                            {{ if .Discord.Enabled }}
                                checked="checked"
                            {{ end }}
                            type="checkbox"
                            name="discord_enabled"
                            value="true"
                    />
                    Enabled (Restart required)
                </label>
                 <input
                        name="discord_admins"
                        placeholder="Discord User IDs who can use bot commands separated by commas"
                        value="{{.Discord.BotAdmins}}"
                />
                <input
                        name="discord_token"
                        placeholder="Token"
                        value="{{.Discord.Token}}"
                />
                <input
                        name="discord_channel_id"
                        placeholder="Channel ID"
                        value="{{ .Discord.ChannelID }}"
                />
                <fieldset class="grid">
                    <label>
                        <input type="checkbox" name="enable_game_created_messages" value="{{ .Discord.EnableGameCreatedMessages }}" {{ if .Discord.EnableGameCreatedMessages }} checked="checked" {{ end }} />
                        Enable Game Create Messages
                    </label>
                    <label>
                        <input type="checkbox" name="enable_new_run_messages" value="{{ .Discord.EnableNewRunMessages }}" {{ if .Discord.EnableNewRunMessages }} checked="checked" {{ end }} />
                        Enable New Run Messages
                    </label>
                    <label>
                        <input type="checkbox" name="enable_run_finish_messages" value="{{ .Discord.EnableRunFinishMessages }}" {{ if .Discord.EnableRunFinishMessages }} checked="checked" {{ end }} />
                        Enable Run Finish Messages
                    </label>
                    <label>
                        <input type="checkbox" name="enable_discord_chicken_messages" value="{{ .Discord.EnableDiscordChickenMessages }}" {{ if .Discord.EnableDiscordChickenMessages }} checked="checked" {{ end }} />
                        Enable Chicken/Death Messages
                    </label>
                </fieldset>
                <h4>Telegram integration</h4>
                <label>
                    <input
                            {{ if .Telegram.Enabled }}
                                checked="checked"
                            {{ end }}
                            type="checkbox"
                            name="telegram_enabled"
                            value="true"
                    />
                    Enabled (Restart required)
                </label>
                <input
                        name="telegram_token"
                        placeholder="Token"
                        value="{{.Telegram.Token}}"
                />
                <input
                        name="telegram_chat_id"
                        placeholder="Chat ID"
                        value="{{ .Telegram.ChatID }}"
                />
            </fieldset>
            <fieldset class="grid">
                {{ if not .FirstRun }}
                    <a href="/"><input type="button" value="Cancel" class="secondary"/></a>
                {{ end }}
                <input type="submit" value="Save"/>
            </fieldset>
        </form>
    </div>
</main>
</body>
</html>