<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debug Page</title>
    <script src="../assets/js/debug.js" defer></script>
    <meta name="color-scheme" content="light"/>
    <link rel="stylesheet" href="../assets/css/pico.min.css">
    <link href="..//assets/css/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="..//assets/js/jsoneditor.min.js"></script>

</head>
<body>
    <div id="jsoneditor" data-theme="light" style="height: 600px;"></div>
    <a href="/"><input type="button" value="Back" class="button"/></a>
</body>
</html>
