<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="../assets/css/pico.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <title>Koolo Dashboard</title>
</head>
<body>
<main class="container-fluid">
    <div class="grid">
        <div>
            <a href="/config" style="text-decoration: none;">
                <button class="button">Settings</button>
            </a>
            <a href="/supervisorSettings" style="text-decoration: none;">
                <button class="button">Add Character</button>
            </a>
        </div>
        <div style="text-align: right">
            Version: {{ .Version }}
        </div>
    </div>

    {{ if not .Status }}
    <div class="notification">
        <p>No characters found, start adding a new character.</p>
    </div>
    {{ else }}
    <table>
        <thead>
        <tr>
            <th scope="col">Character</th>
            <th scope="col">Status</th>
            <th scope="col">Runs</th>
            <th scope="col">Drops</th>
            <th scope="col">Chickens</th>
            <th scope="col">Deaths</th>
            <th scope="col">Errors</th>
            <th scope="col">Control</th>
        </tr>
        </thead>
        {{ range $key, $value := .Status }}
        <tr>
            <th scope="row">{{$key}}</th>
            <td>{{.SupervisorStatus}}</td>
            <td>{{.TotalGames}}</td>
            <td>{{ if eq (index $.DropCount $key) 0 }}
                No Drops
                {{ else }}
                <a href="/drops?supervisor={{$key}}" style="text-decoration: none;">
                    <button class="button">{{ index $.DropCount $key }} Drop(s)</button>
                </a>  
                {{ end }}
            </td>
            <td>{{.TotalChickens}}</td>
            <td>{{.TotalErrors}}</td>
            <td>{{.TotalDeaths}}</td>
            <td>
                <a href="/debug?characterName={{$key}}" style="text-decoration: none;">
                    <button class="button">Debug</button>
                </a>
                <a href="/supervisorSettings?supervisor={{$key}}" style="text-decoration: none;">
                    <button class="button">Settings</button>
                </a>
                {{ if eq .SupervisorStatus "Paused" }}
                <a href="/togglePause?characterName={{$key}}" style="text-decoration: none;">
                    <button class="button">Resume</button>
                </a>
                {{ else if or (eq .SupervisorStatus "In game") (eq .SupervisorStatus "Starting") }}
                <a href="/togglePause?characterName={{$key}}" style="text-decoration: none;">
                    <button class="button">Pause</button>
                </a>
                {{ else }}
                <a href="/start?characterName={{$key}}" style="text-decoration: none;">
                    <button class="button">Start</button>
                </a>
                {{ end }}
                {{ if ne .SupervisorStatus "" }}
                <a href="/stop?characterName={{$key}}" style="text-decoration: none;">
                    <button class="button">Stop</button>
                </a>
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </table>
    {{ end }}
</main>
</body>
</html>