<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/pico.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-icons.css">
    <title>Koolo Dashboard</title>
       
</head>
<body>
<main class="container">
    <div id="loading" class="loading"></div>
    <div id="dashboard" style="display: none;">
        <div class="dashboard-header">
            <div class="dashboard-title-container">
                <h1 class="dashboard-title">Koolo</h1>
                <span id="version" class="version-badge"></span>
            </div>
            <div class="dashboard-controls">
                <button class="btn btn-outline" onclick="location.href='/config'">
                    <i class="bi bi-gear btn-icon"></i>Settings
                </button>
                <button id="reloadConfigBtn" class="btn btn-outline" onclick="reloadConfig()">
                    <i class="bi bi-arrow-clockwise btn-icon"></i>Reload Configs
                </button>
                <button class="btn btn-start" onclick="location.href='/supervisorSettings'">
                    <i class="bi bi-plus btn-icon"></i>Add Character
                </button>
                <button class="btn btn-outline attach-btn" onclick="showAttachPopup('${key}')" style="display:none;">
                    <i class="bi bi-link-45deg btn-icon"></i>Attach
                </button>
            </div>
        </div>
        <div id="characters-container"></div>
    </div>
</main>
<script src="../assets/js/dashboard.js"></script>
</body>
</html>